.container {
  padding-top: 55px;
  /* padding-bottom: 10px; */
  display: grid;
  justify-content: space-evenly;
}

.item {
  width: 18rem;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.reviewcontainer {
  padding-bottom: 40px
}

.reviewItem {

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
